<div class="container">
  <div class="searchdiv mx-auto mt-4">
    <input type="" class="searchinput" placeholder="Search User" />
  </div>
  <div class="feed mx-auto mt-2 p-3" id="style-2">
    <div *ngFor="let post of posts">
      <div class="d-flex align-items-center">
        <img
          [src]="post.image"
          alt=""
          class="feed-profile me-2"
        />
        <p class="mt-3 text-light">{{post.uname}}</p>
      </div>
      <div class="feed-image-div mb-3">
        <img
          [src]="post.postimage"
          alt=""
          class="feed-image"
        />
      </div>
      <p class="text-light ms-3 mt-3" *ngIf="post.caption"><b>{{post.uname}}</b>&nbsp;&nbsp;{{post.caption}}</p>
      <!-- <div class="like-comment-div mt-2 ps-4">
        <i class="fa-regular text-light fa-heart fa-xl" (click)="like()" *ngIf="isLike"></i>
        <i class="fa-solid fa-heart fa-xl text-danger" (click)="like()" *ngIf="!isLike"></i>
        <i class="fa-regular fa-comment fa-xl text-light ms-3"></i>
        <i class="fa-regular fa-bookmark save fa-xl text-light me-4" (click)="save()" *ngIf="isSave"></i>
        <i class="fa-solid fa-bookmark save fa-xl text-light me-4" (click)="save()" *ngIf="!isSave"></i>

      </div> -->
    </div>
    
  </div>
  
</div>
