<div *ngIf="isSettings">
  <div
    class="conatiner ps-5 pe-5"
    *ngIf="isPresent"
    style="max-height: 85vh; overflow-y: scroll"
    id="style-2"
  >
    <div class="settingsdiv text-light" (click)="settings()">
      <i class="fa-solid fa-gear fa-xl mt-5 settings"></i>
    </div>
    <div class="profile-image-div text-center mt-5">
      <img [src]="user.image" alt="" class="profile-image" />
    </div>
    <h3 class="text-center mt-2 text-light">{{ user.name }}</h3>

    <div id="style-2">
      <div>
        <p class="bio text-light text-center">
          {{ user.bio }}
        </p>
        <button class="edit-profile-button mb-2" (click)="editProfile()">
          Edit Profile
        </button>
        <button class="edit-profile-button mb-2" (click)="showaddPost()">
          Add Post
        </button>

        <div *ngIf="!isaddpost">
          <div class="mb-3">
            <label for="formFile" class="form-label text-light">Select Your Picture</label>
            <input class="form-control" type="file" id="formFile" (change)="onselectfile($event)">
          </div>
          
         <form [formGroup]="captionForm">
            <div class="editdiv">
              <input
                type="text"
                placeholder="Caption"
                class="editinput text-light ps-3"
                name="cap"
                formControlName="cap"
              />
            </div>
         </form>
          <div class="text-center mt-2">
            <button class="confirm-click me-1" (click)="showaddPost()">
              <i class="fa fa-xmark text-light"></i>
            </button>
            <button class="confirm-click" (click)="addpost()">
              <i class="fa fa-check text-light"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row uploads  mt-4" id="style-2" *ngFor="let post of posts">
       <div class=" mx-auto">
        <img 
        class="postimage"
        [src]='post.image' alt="">
        <p class="mt-2 text-light">{{post.caption}}</p>
       </div>
      </div>
      <p class="text-center text-light pt-5" *ngIf="!posts">Nothing yet posted..!</p>
    </div>
  </div>
</div>
<!-- edit profile -->
<div class="container pt-5" *ngIf="!isPresent">
  <form action="" [formGroup]="editProfileForm">
    <div class="editdiv">
      <input
        type="text"
        placeholder="Name"
        class="editinput text-light ps-3"
        formControlName="name"
        name="name"
      />
      <i
        *ngIf="
          editProfileForm.get('name')?.touched &&
          editProfileForm.get('name')?.errors
        "
        class="fa-solid fa-xmark text-danger checkicon"
      ></i>
    </div>
    <div class="editdiv mt-3">
      <input
        type="text"
        placeholder="Bio"
        class="editinput text-light ps-3"
        formControlName="bio"
        name="bio"
      />
      <i
        *ngIf="
          editProfileForm.get('bio')?.touched &&
          editProfileForm.get('bio')?.errors
        "
        class="fa-solid fa-xmark text-danger checkicon"
      ></i>
    </div>
    <div class="mb-3 mt-3">
      <label for="formFile" class="form-label text-light">Select Your Profile Picture</label>
      <input name="image" formControlName="image" class="form-control" type="file" id="formFile" (change)="onselectfileprofile($event)">
    </div>
    <div class="text-center mt-3">
      <button class="edit-profile" (click)="saveProfile()">Save</button>
      <div *ngIf="!confirmMsgdiv">
        <p class="text-light mt-1">Are You Sure</p>
        <button class="confirm-click me-1" (click)="confirmCollapse()">
          <i class="fa fa-xmark text-light"></i>
        </button>
        <button class="confirm-click" (click)="confirm()">
          <i class="fa fa-check text-light"></i>
        </button>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="edit-profile" (click)="goBack()">Back</button>
    </div>
  </form>
</div>
<!-- settings -->
<div class="container p-5" *ngIf="!isSettings">
  <div class="back-button-div text-center text-light" (click)="settings()">
    <i class="fa-solid fa-arrow-left"></i>
  </div>
  <div>
    <ul>
      <li class="btn text-light" (click)="logOut()"><b>LogOut</b></li>
    </ul>
    <p *ngIf="!logoutmsg" class="text-light text-center mt-3"><i class="fa-solid fa-check text-success me-2"></i>Please wait while Logging out... <img width="15px" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" alt=""></p>

  </div>
</div>
