.parent {
    background-image: url("../../assets/Images/login-background-web.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    margin: 0;
    overflow: hidden;
  }
  .brandname {
    color: white;
  }
  .brandlogo {
    width: 40px;
    margin-top: -10px;
  }
  .loginbutton {
    height: 30px;
    background-color: rgb(44, 44, 139); 
    margin-right: 10px;
    color: rgb(255, 255, 255);
    width: 150px;
    border: 0ch;
    border-radius: 20px;
  }
  .loginbutton:hover {
    background-color: rgb(62, 62, 143);
  }
  .registerdiv {
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 20px;
    width: 400px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
  }
  .registerinput {
    border-style: none;
    background-color: rgba(240, 248, 255, 0);
    width: 250px;
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
  input:focus {
    outline: none;
  }
  .create-account{
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 20px;
    width: 400px;
    height: 50px;
    border: 0ch;
    background-color: rgb(44, 44, 139); 

  }
  .create-account:hover{
    background-color: rgb(62, 62, 143);

  }
  .checkicon {
    margin-left: 90px;
  }